{% extends 'network/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-10 auth-form">
            {% if user_form_error %}
                <div class="alert alert-danger">{{user_form_error}}</div>
            {% endif %}
            {% if profile_form_error %}
                <div class="alert alert-danger">{{profile_form_error}}</div>
            {% endif %}
            <h4>Update Profile</h4>
            <hr>
            <form method="post" action="{% url 'update-profile' %}" enctype="multipart/form-data" class="uniForm">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <button type="submit" class="btn btn-sm btn-info">Save</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        document.querySelector('.side-section').style.display = "none"
        document.querySelector('.main-section').classList.remove("col-lg-9")
        document.querySelector('.main-section').classList.add("col-12")
    </script>
{% endblock %}